@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --vaddonz-accent: #ff0000;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #575757;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.vaddonz-button {
    position: absolute;
    top: 160px;
    right: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 81px;
    padding: 5px;
    font-family: 'Rubik', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 5px 0px #393939 inset, 0px 0px 0px 2px inset black;
    background-image: linear-gradient(to top, #171717, #232323) !important;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    transition: background-color 0.2s linear;
    z-index: 9999;
}

.vaddonz-button:hover, .vaddonz-button.active {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}

.vaddonz-switch {
    margin-top: 2px;
    color: rgb(201, 201, 201);
    text-align: center;
    line-height: 0px;
    text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 2px, rgba(0, 0, 0, 0.75) 1px -1px 2px,
                 rgba(0, 0, 0, 0.75) -1px 1px 2px, rgba(0, 0, 0, 0.75) 1px 1px 2px,
                 rgba(0, 0, 0, 0.75) -2px -2px 4px, rgba(0, 0, 0, 0.75) 2px -2px 4px;
}

.vaddonz-list {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 506px;
    width: 900px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid gray;
    color: white;
    font-family: 'Rubik', sans-serif !important;
    display: none;
    user-select: none;
    z-index: 16;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
}

.vaddonz-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 15px;
    border-bottom: 1px solid gray;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/4n.png?v=1730794617277) 10 28, auto;
}

.vaddonz-categories {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.vaddonz-fyi {
    display: flex;
    padding: 5px;
    height: 25px;
    margin-left: -2px;
    margin-top: -1px;
    width: 890px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid gray;
    border-top: 1px solid gray;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: var(--vaddonz-accent);
    user-select: none;
    align-items: center;
    justify-content: center;
}

.vaddonz-discord-link {
    color: #2e85f3;
    margin-left: 2px;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
}

#vaddonzUTILITY, #vaddonzCOSMETIC, #vaddonzOTHER, #vaddonzSETTINGS, #vaddonzCHANGELOG {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
}

.vaddonzACTIVECATEGORY {
    border: 1px solid var(--vaddonz-accent) !important;
    color: var(--vaddonz-accent) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    transition: all 0.1s ease-in;
}

.vaddonzINACTIVECATEGORY {
    border: 1px solid gray;
    transition: all 0.1s ease-in;
}

.vaddonzACTIVELIST {
    display: block !important;
}

.vaddonzINACTIVELIST {
    display: none;
}

.vaddon {
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid gray;
    padding-left: 5px;
}

.vaddonName {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
}

.vaddonName label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
}

.vaddonName label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #ffffff00;
    border: 2px solid #515151;
    margin-right: -6px;
    transition: background-color 0.3s, border 0.3s;
}

.work-in-progress {
    z-index: -1;
    color: var(--vaddonz-accent);
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: -1px;
}

.new-addon {
    color: #ffd700;
    font-weight: bold;
    margin-left: 5px;
    font-size: 12px;
}

.vaddon-checkbox {
    display: none;
}

.vaddon-checkbox:checked + label::before {
    background-color: var(--vaddonz-accent);
    border: 2px solid var(--vaddonz-accent);
}

.vaddonDescription {
    font-size: 12px;
    padding-left: 23px;
    padding-bottom: 11px;
}

.vaddonzSettingsEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--vaddonz-accent);
    width: 45%;
    float: left;
    margin: 15px;
    padding: 5px;
    min-height: 100px;
    max-height: 100px;
}

.vaddonzSettingsName {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 85%;
    border-bottom: 2px solid var(--vaddonz-accent);
}

#vaddonzAccentColor {
    background: none;
    border: none;
    width: 100px;
    height: 35px;
}

.vaddonzChangelogEntry {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.changelogName {
    color: var(--vaddonz-accent);
    font-weight: 600;
    margin-right: 3px;
}

.changelogDate {
    margin-left: auto;
}

#vaddonz-popup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#vaddonzDockSwitch {
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    background-image: linear-gradient(to top, #171717, #232323);
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px 0px #393939 inset;
    color: white;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    pointer-events: initial;
    transition: background-color 0.2s ease-in-out;
}

#vaddonzDockSwitch .fa {
    transition: transform 0.5s ease-in-out;
}

#vaddonzDockSwitch.active {
    background-color: var(--vaddonz-accent) !important;
    background-blend-mode: hard-light !important;
}

#vaddonzDockSwitch:hover {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}

#vaddonzDockSwitch.active .fa {
    transform: rotate(-90deg);
}

#vaddonz-dock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 25px;
    max-height: 500px;
    border: 1px solid #000000;
    border-radius: 10px 0px 0px 00px;
    box-shadow: 0px 0px 5px 0px #393939 inset;
    background: transparent;
    background-image: linear-gradient(to top, #171717, #232323) !important;
    color: #d4d4d4;
    margin-bottom: 25px;
    overflow: hidden;
    pointer-events: initial;
}

#vaddonz-dock.collapsed {
    max-height: 0;
    overflow: hidden;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-qp {
    order: 0;
}
  
#vaddonz-dock .vaddonz-dock-addon#vaddonz-aff {
    order: 1;
}
  
#vaddonz-dock .vaddonz-dock-addon#vaddonz-brb {
    order: 2;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ld {
    order: 3;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ac {
    order: 4;
}

.vaddonz-dock-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid #000000;
    background-image: linear-gradient(to top, #171717, #232323);
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    transition: background-color 0.2s ease-in-out;
}

.vaddonz-dock-addon.active{
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}


.vaddonz-dock-addon:hover {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}


.tip-wrapper {
    position: absolute;
    max-width: 250px;
    min-width: 150px;
    z-index: 1000;
    color: #e6d6bf;
    line-height: 14px;
    text-align: center;
    box-shadow: 
        0 0 0 0 #2b282a, 
        0 0 0 1px #353131, 
        0 0 0 2px #191311, 
        0 0 0 3px #2b2727, 
        0 0 0 4px #59595a, 
        0 0 0 5px #9da1a7, 
        0 0 0 6px #5a585b, 
        0 0 0 7px #2c2625;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tip-wrapper .content {
    background: rgba(0, 0, 0, 0.85);
    font-size: 12.8px;
    padding: 5px;
    word-break: break-word;
}

.vaddonz-tip-wrapper {
    position: absolute;
    max-width: 250px;
    min-width: 150px;
    z-index: 1000;
    color: #e6d6bf;
    line-height: 14px;
    text-align: center;
    box-shadow: 
        0 0 #2b282a, 
        0 0 0 1px #353131, 
        0 0 0 2px #191311, 
        0 0 0 3px #2b2727, 
        0 0 0 4px #0f0f0f99, 
        0 0 0 5px #0f0f0f, 
        0 0 0 6px #5a585b, 
        0 0 0 7px #2c2625;
    user-select: none;
}

.vaddonz-tip-wrapper .content {
    padding: 5px;
    background: rgba(15, 15, 15, 0.85);
    word-break: break-word;
    font-family: 'Rubik', sans-serif !important;
}

.ac-characters-list {
    border-top: 1px solid #5a585b;
    padding-top: 4px;
    margin-top: 4px;
    font-size: 12px;
}

.ac-character-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    white-space: nowrap;
}

.ac-character-name {
    margin-right: 10px;
}

.ac-character-status {
    min-width: 20px;
    text-align: center;
}

.vaddonz-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Rubik, sans-serif !important;
    font-size: 15px;
    color: var(--vaddonz-accent);
    background-color: #000000cc;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    opacity: 1;
    transition: opacity 4s ease-out;
    z-index: 9999;
    pointer-events: none;
}

.vaddonz-notification.fade-out {
    opacity: 0;
}

.enhance__progress--current {
    background: linear-gradient(90deg, #ffcc00, #cc5100, #ff0000) !important;
}

