@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --vaddonz-accent: #ff0000;
}

.vaddonz-select {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin-top: 2px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 1px solid var(--vaddonz-accent);
    border-radius: 4px;
    background-color: #1a1a1a;
    width: 130px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
}
    
    /* Stany */
    &:hover {
        background-color: #2a2a2a;
    }
    
    &:focus {
        
        border-color: var(--vaddonz-accent);
    }
    
    &:disabled {
        
        opacity: 0.5;
    }

.vaddonz-select option {
    background-color: #1a1a1a;
    padding: 10px;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
    background: #575757;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.vaddonz-button {
    display: flex;
    position: absolute;
    top: 158px;
    right: 151px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.2s linear;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    box-shadow: 0px 0px 5px 0px #393939 inset, 0px 0px 0px 2px inset black;
    border: 1px solid #000000;
    border-radius: 0px 0px 0px 0px;
    background-image: linear-gradient(to top, #171717, #232323) !important;
    padding: 5px;
    width: 77px;
    height: 27px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-button:hover, .vaddonz-button.active {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}

.vaddonz-switch {
    margin-top: 2px;
    color: rgb(201, 201, 201);
    line-height: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 2px, rgba(0, 0, 0, 0.75) 1px -1px 2px,
                 rgba(0, 0, 0, 0.75) -1px 1px 2px, rgba(0, 0, 0, 0.75) 1px 1px 2px,
                 rgba(0, 0, 0, 0.75) -2px -2px 4px, rgba(0, 0, 0, 0.75) 2px -2px 4px;
}

.vaddonz-list {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.8);
    width: 900px;
    height: 513px;
    color: white;
    font-family: 'Rubik', sans-serif !important;
    user-select: none;
}

.vaddonz-title {
    display: flex;
    justify-content: center;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/4n.png?v=1730794617277) 10 28, auto;
    border-bottom: 1px solid gray;
    padding: 15px;
    font-size: 25px;
}

.vaddonz-categories {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vaddonz-fyi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -2px;
    border: 2px solid gray;
    border-top: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    width: 890px;
    height: 25px;
    color: var(--vaddonz-accent);
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.vaddonz-discord-link {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin-left: 2px;
    color: #2e85f3;
}

#vaddonzADDONS\ LIST, #vaddonzWORK\ IN\ PROGRESS, #vaddonzCOSMETIC, #vaddonzOTHER, #vaddonzSETTINGS, #vaddonzCHANGELOG {
    display: flex;
    justify-content: center;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 160px;
}

.vaddonzACTIVECATEGORY {
    transition: all 0.1s ease-in;
    border: 1px solid var(--vaddonz-accent) !important;
    color: var(--vaddonz-accent) !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.vaddonzINACTIVECATEGORY {
    transition: all 0.1s ease-in;
    border: 1px solid gray;
}

.vaddonzACTIVELIST {
    display: block !important;
}

.vaddonzINACTIVELIST {
    display: none;
}

.vaddon {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin: 10px 3px 10px 8px;
    border: 1px solid #80808091;
    border-radius: 15px;
    padding: 0 0 0 10px;
    font-family: 'Rubik', sans-serif;
}

.vaddonIcon {
    width: 40px;
    font-size: 30px;
    text-align: center;
}

.vaddonName {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 5px;
    font-weight: 500;
    font-size: 18px;
}

.vaddonDescription {
    font-size: 12px;
}

.vaddonName label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
}

.vaddonName label::before {
    display: inline-block;
    transition: background-color 0.3s, border 0.3s;
    margin-right: -6px;
    border: 2px solid #515151;
    border-radius: 4px;
    background-color: #ffffff00;
    width: 15px;
    height: 15px;
    content: '';
}


.work-in-progress {
    z-index: -1;
    margin-top: -1px;
    margin-left: 5px;
    color: var(--vaddonz-accent);
    font-weight: 600;
    font-size: 13px;
}

.new-addon {
    vertical-align: middle;
    margin-left: 3px;
    color: #ffd700;
    font-weight: 600;
    font-size: 12px;
}

.vaddon-checkbox {
    display: none;
}

.vaddon-checkbox:checked + label::before {
    border: 2px solid var(--vaddonz-accent);
    background-color: var(--vaddonz-accent);
}

.vaddonzSettingsEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    margin: 15px;
    border: 1px solid var(--vaddonz-accent);
    padding: 5px;
    width: 45%;
    min-height: 100px;
    max-height: 100px;
}

.vaddonzSettingsName {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--vaddonz-accent);
    padding: 10px;
    width: 85%;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

#vaddonzAccentColor {
    border: none;
    background: none;
    width: 100px;
    height: 35px;
}

.vaddonzChangelogEntry {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.changelogName {
    margin-right: 3px;
    color: var(--vaddonz-accent);
    font-weight: 600;
}

.changelogDate {
    margin-left: auto;
}

#vaddonz-popup {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#vaddonzDockSwitch {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    box-shadow: 0px 0px 5px 0px #393939 inset;
    border: 1px solid #000000;
    background-image: linear-gradient(to top, #171717, #232323);
    width: 25px;
    height: 25px;
    pointer-events: initial;
    color: white;
    font-size: 13px;
    text-align: center;
}

#vaddonzDockSwitch .fa {
    transition: transform 0.5s ease-in-out;
}

#vaddonzDockSwitch.active {
    background-color: var(--vaddonz-accent) !important;
    background-blend-mode: hard-light !important;
}

#vaddonzDockSwitch:hover {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}

#vaddonzDockSwitch.active .fa {
    transform: rotate(-90deg);
}

#vaddonz-dock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px 0px #393939 inset;
    border: 1px solid #000000;
    border-radius: 10px 0px 0px 00px;
    background: transparent;
    background-image: linear-gradient(to top, #171717, #232323) !important;
    width: 25px;
    max-height: 500px;
    overflow: hidden;
    pointer-events: initial;
    color: #d4d4d4;
}

#vaddonz-dock.collapsed {
    max-height: 0;
    overflow: hidden;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-aa {
    order: 6;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ab {
    order: 2;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-qp {
    order: 2;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ag {
    order: 3;
}
  
#vaddonz-dock .vaddonz-dock-addon#vaddonz-aff {
    order: 4;
}
  
#vaddonz-dock .vaddonz-dock-addon#vaddonz-brb {
    order: 5;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ld {
    order: 6;
}

#vaddonz-dock .vaddonz-dock-addon#vaddonz-ac {
    order: 7;
}

.vaddonz-dock-addon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border-bottom: 1px solid #000000;
    background-image: linear-gradient(to top, #171717, #232323);
    width: 25px;
    height: 25px;
}

.vaddonz-dock-addon.active{
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}


.vaddonz-dock-addon:hover {
    background-color: var(--vaddonz-accent);
    background-blend-mode: hard-light;
}


.tip-wrapper {
    position: absolute;
    z-index: 1000;
    box-shadow: 
        0 0 0 0 #2b282a, 
        0 0 0 1px #353131, 
        0 0 0 2px #191311, 
        0 0 0 3px #2b2727, 
        0 0 0 4px #59595a, 
        0 0 0 5px #9da1a7, 
        0 0 0 6px #5a585b, 
        0 0 0 7px #2c2625;
    min-width: 150px;
    max-width: 250px;
    color: #e6d6bf;
    line-height: 14px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tip-wrapper .content {
    background: rgba(0, 0, 0, 0.85);
    padding: 5px;
    font-size: 12.8px;
    word-break: break-word;
}

.vaddonz-tip-wrapper {
    position: absolute;
    z-index: 1000;
    box-shadow: 
        0 0 #2b282a, 
        0 0 0 1px #353131, 
        0 0 0 2px #191311, 
        0 0 0 3px #2b2727, 
        0 0 0 4px #0f0f0f99, 
        0 0 0 5px #0f0f0f, 
        0 0 0 6px #5a585b, 
        0 0 0 7px #2c2625;
    min-width: 150px;
    max-width: 250px;
    color: #e6d6bf;
    line-height: 14px;
    user-select: none;
    text-align: center;
}

.vaddonz-tip-wrapper .content {
    background: rgba(15, 15, 15, 0.85);
    padding: 5px;
    font-family: 'Rubik', sans-serif !important;
    word-break: break-word;
}

/* ac przeniesc do osbnego */

.ac-characters-list {
    margin-top: 4px;
    border-top: 1px solid #5a585b;
    padding-top: 4px;
    font-size: 12px;
}

.ac-character-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    white-space: nowrap;
}

.ac-character-name {
    margin-right: 10px;
}

.ac-character-status {
    min-width: 20px;
    text-align: center;
}

/* qp przeniesc do osbnego */

#vaddonz-qp-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
    min-width: 300px;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-qp-header {
    display: flex;
    position: relative;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/4n.png?v=1730794617277) 10 28, auto;
    border-bottom: 1px solid #444;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.vaddonz-qp-header span {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-weight: 400;
    line-height: 0;
}

.vaddonz-qp-content {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.vaddonz-qp-player {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 5px;
}

.vaddonz-qp-nick {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin-top: -1px;
    margin-right: 3px;
    color: #2e85f3;
    font-weight: 500;
    text-decoration: underline;
}

.vaddonz-qp-nick:hover {
    text-decoration: underline;
}

.vaddonz-qp-account {
    flex-grow: 1;
    color: #888;
}

.vaddonz-qp-copy {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border: none;
    background: none;
    padding: 5px;
    color: #666;
}

.vaddonz-qp-copy:hover {
    color: #fff;
}

.vaddonz-qp-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid #444;
    padding: 10px;
}

.vaddonz-qp-footer button {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border: 1px solid #444;
    border-radius: 3px;
    background: rgb(51 51 51 / 37%);
    padding: 5px 10px;
    color: white;
    font-weight: 400;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-qp-footer button:hover {
    background: rgb(51 51 51 / 62%);
}

.vaddonz-qp-copy-all {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border: 1px solid #444;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.8);
    padding: 5px 10px;
    color: #fff;
}

#vaddonz-ab-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
    width: auto;
    min-width: 308px;
    overflow: auto;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-ab-header {
    display: flex;
    position: relative;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/4n.png?v=1730794617277) 10 28, auto;
    border-bottom: 1px solid #444;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.vaddonz-ab-header span {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-weight: 400;
    line-height: 0;
}

.vaddonz-ab-content {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.ab-bless {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin: 1px;
    border: 1px solid #383838;
}

.ab-bless:hover {
    box-shadow: 0px 0px 20px 0px #ff0000b8 inset;
}

.ab-bless.active {
    border: 1px solid red;
}

.ab-results {
    display: flex;
    justify-content: center;
}

#vaddonz-aa-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
    width: 240px;
    overflow: auto;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-aa-header {
    display: flex;
    position: relative;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/4n.png?v=1730794617277) 10 28, auto;
    border-bottom: 1px solid gray;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.vaddonz-aa-header span {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-weight: 400;
    line-height: 0;
}

.vaddonz-aa-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.aa-profession {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 3px 5px 3px 5px;
    height: 25px;
}

.aa-profession select {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 1px solid var(--vaddonz-accent);
    border-radius: 4px;
    background-color: #1a1a1a;
    width: 80px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
}

    /* Stany */
    &:hover {
        background-color: #2a2a2a;
    }
    
    &:focus {
        
        border-color: var(--vaddonz-accent);
    }
    
    &:disabled {
        
        opacity: 0.5;
    }

.enhance__progress--current {
    background: linear-gradient(90deg, #ffcc00, #cc5100, #ff0000) !important;
}

#mailnotifier {
    right: 30px;
    background: url(https://i.imgur.com/y8yj4E7.png) no-repeat -762px -410px;
}

#vaddonz-news-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/1n.png?v=1730794617277), auto;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
    width: 500px;
    color: white;
    font-size: 15px;
    font-family: 'Rubik', sans-serif !important;
}

#close-news-popup {
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    margin-right: 1px;
    margin-left: auto;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}

.news-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 40px;
    font-size: 20px;
}

#vaddonz-news{
    position: fixed;
}

.news-date {
    border-bottom: 1px solid gray;
    padding: 5px;
    text-align: center;
}

.news-added {
    display: flex;
    background-color: #00800021;
    padding: 5px 0px 5px 0px;
}

.news-removed {
    display: flex;
    background-color: #ff000021;
    padding: 5px 0px 5px 2px;
}

.added-indicator {
    margin: 0px 5px 0px 5px;
    color: green;
    font-weight: bold;
}

.removed-indicator {
    margin: 0px 5px 0px 5px;
    color: #ff0000;
    font-weight: bold;
}

.vaddonz-search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.vaddonz-search input {
    margin-left: 10px;
    border-top: none;
    border-right: 1px solid gray;
    border-bottom: none;
    border-left: 0px;
    background: none;
    width: 446px;
    height: 40px;
    color: white;
    font-family: 'Rubik', sans-serif !important;
}

.vaddonz-wip {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid gray;
    background: none;
    width: 900px;
    height: 42px;
    color: var(--vaddonz-accent);
    font-weight: bold;
    line-height: 0;
    font-family: 'Rubik', sans-serif !important;
}

#vaddonz-enabled, #vaddonz-disabled {
    transition: background-color 0.3s;
    cursor: url(https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277) 5 -5, auto;
    border: 1px solid gray;
    border-radius: 5px;
    background: none;
    padding: 5px;
    width: 115px;
    color: var(--vaddonz-accent);
    font-weight: 500;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}

.status-active{
    border: 1px solid var(--vaddonz-accent) !important;
}

.vaddonz-status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: 449px;
    height: 42px;
}

.vaddon.checked {
    background-color: var(--vaddonz-accent-opacity);
}
